.banner {
    background-color: #2e2f30;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
  }
  
  .banner h1 {
    color: #D9008D;
  }
  
  .banner p {
    color: #8B8B8C;
  }
  